<nav class="navbar navbar-dark sticky-top bg-light navbar-expand-sm text-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard"> SAKURA </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-list-4"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="user" class="collapse navbar-collapse" id="navbar-list-4">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/profiles" class="nav-link">Blossoms</a>
        </li>
        <li class="nav-item">
          <a routerLink="/posts" class="nav-link">Posts</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              [src]="user.av"
              width="40"
              height="40"
              class="rounded-circle"
            />
            {{ user.name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/dashboard">Dashboard</a>
            <a class="dropdown-item" routerLink="/profile">Edit Profile</a>
            <a
              class="dropdown-item"
              href="javascript:void(0)"
              (click)="logOut()"
              >Log Out</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
