<app-navbar></app-navbar>
<div class="container">
  <div class="create-profile">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto">
          <a routerLink="/dashboard" class="btn btn-outline-danger btn-sm">X</a>
          <h1 class="display-4 text-center text-dark">Edit Profile</h1>
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="* Profile Handle"
                formControlName="handle"
                [ngClass]="{ 'is-invalid': submitted }"
              />
              <small class="form-text text-dark"
                >A unique handle for your profile URL. Your full name, company
                name, nickname</small
              >
            </div>
            <div class="form-group">
              <select
                class="form-control form-control-lg"
                formControlName="status"
                [ngClass]="{ 'is-invalid': submitted }"
              >
                <option value="0">* Select Professional Status</option>
                <option value="Developer">Developer</option>
                <option value="Junior Developer">Junior Developer</option>
                <option value="Senior Developer">Senior Developer</option>
                <option value="Manager">Manager</option>
                <option value="Student or Learning">Student or Learning</option>
                <option value="Instructor or Teacher">
                  Instructor or Teacher
                </option>
                <option value="Intern">Intern</option>
                <option value="Other">Other</option>
              </select>
              <small class="form-text text-dark"
                >Give us an idea of where you are at in your career</small
              >
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Company"
                formControlName="company"
                [ngClass]="{ 'is-invalid': submitted }"
              />
              <small class="form-text text-dark"
                >Could be your own company or one you work for</small
              >
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Website"
                formControlName="website"
                [ngClass]="{ 'is-invalid': submitted }"
              />
              <small class="form-text text-dark"
                >Could be your own website, your github profile or a company
                one</small
              >
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Location"
                formControlName="location"
                [ngClass]="{ 'is-invalid': submitted }"
              />
              <small class="form-text text-dark"
                >City or city &amp; state suggested (eg. Nainital, UK)</small
              >
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="* Skills"
                formControlName="skills"
                [ngClass]="{ 'is-invalid': submitted }"
              />
              <small class="form-text text-dark"
                >Please use comma separated values (eg.
                HTML,CSS,JavaScript,PHP</small
              >
            </div>
            <div class="form-group">
              <textarea
                class="form-control form-control-lg"
                placeholder="Short Bio"
                formControlName="bio"
              ></textarea>
              <small class="form-text text-dark"
                >Tell us a little about yourself</small
              >
            </div>

            <button
              [disabled]="loading"
              class="btn btn-info btn-block mt-4"
              type="submit"
            >
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span
              >Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
