<div class="body">
  <nav class="navbar navbar-light sticky-top bg-light navbar-expand-sm">
    <div class="container">
      <a class="navbar-brand text-dark" href="#"> Sakura </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-list-4"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/login">Signin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/register">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="showcase">
    <div class="content">
      <img class="logo" src="../../assets/logo.jpg" alt="Sakura" />
      <div class="title text-light">Welcome to Sakura</div>
      <div class="text text-light">A Social Platform For Blossoms</div>
    </div>
  </header>
  <section class="services bg-dark">
    <div class="contain grd-3 middle">
      <div>
        <i class="fa fa-facebook fa-3x"></i>
        <h3>Facebook</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
          iste?
        </p>
      </div>
      <div>
        <i class="fa fa-twitter fa-3x"></i>
        <h3>Twitter</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
          iste?
        </p>
      </div>
      <div>
        <i class="fa fa-youtube fa-3x"></i>
        <h3>Youtube</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
          iste?
        </p>
      </div>
    </div>
  </section>
  <section class="about bg-lite">
    <div class="contain">
      <div class="grd-2">
        <div class="middle">
          <i class="fa fa-laptop fa-5x"></i>
        </div>
        <div>
          <h3>About</h3>
          <p>
            This is a small app, build for devs to hangout. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Optio debitis libero omnis
            ut, aperiam a dolore quae est ex vel, modi consequuntur nesciunt
            odit architecto pariatur consequatur, aspernatur voluptas quidem?
          </p>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
