footer p {
  margin: 0;
}

footer {
  padding: 1rem !important;
}

.middle {
  text-align: center;
  margin: auto;
}
.bg-dak {
  background: #343a40;
  color: #f4f4f4;
}

.bg-light {
  background-color: #f2e6f0 !important;
}
